body{

font-family:Arial;
margin:0;
background:#0f172a;
color:white;

}

header{

background:#111827;
padding:20px;
text-align:center;

}

nav a{

color:white;
margin:10px;
text-decoration:none;
font-size:18px;

}

.hero{

background:#065f46;
padding:60px;
text-align:center;

}

.card{

background:#1e293b;
padding:15px;
margin:15px;
border-radius:8px;

}
